<!doctype html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/starter-template.css" rel="stylesheet">
		 <link rel="icon" href="../static/images/tagme_icon.jpg">
		 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito"/>	 
		<head>
				<title>TagMe</title>

		</head>

		<body>

				<form align = "CENTER" method = "POST">
						<p>
						<img src="../static/images/tagme_icon.jpg"></img>
						</p>
						<font face = "Nunito" size = "+1"><b>Gimme your tweet:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type = "text" name = "tweet" size = 100
						value = "{{tweet_text | safe }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type = "submit" value = "TagMe" name = "TagMe" 
						style = "color:white;background-color:#FF6584;border-radius:10px;height:40px;width:100px;font-size:22px">	</font>
						<br>
						<br>
						{% if hashtags %}
						<div class=matanav align = CENTER"">

								<ul style="list-style-type:none">
										{% for each_hashtag_list in hashtags %}
										<li>
										{% for each_hashtag in each_hashtag_list.split(',') %}
										<a class="twitter-share-button"
			 								href={{"https://twitter.com/intent/tweet?text=" + '%20'.join(tweet_text.split()) + "&hashtags=" + 
			 each_hashtag.split('#')[1]}} style = "color:#FF6584"><font face = "Nunito" size = "+1"><b>
						{{each_hashtag}}</b></font></a>
										{% endfor %}
										</li>
										{% endfor %}	
								</ul>
						</div>
						{% endif %}

				</form>

				<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
				<script>window.jQuery || document.write('<script src="../static/js/vendor/jquery.min.js"><\/script>')</script>
				<script src="static/js/bootstrap.min.js"></script>
				<script src="../static/js/bootstrap.min.js"></script>
		</body>
</html>
